canvas {
    background-image: url("images/nen cuoi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333;
}
.container {
    box-sizing: border-box;
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
}
#startGame {
    position: absolute;
    top: 300px;
    left: 230px;
    width: 150px ;
    background: rgba(50, 224, 23, 0.96);
}
#restartGame {
    top: 250px;
    left: 250px;
    background: rgb(97, 224, 33);
}
.btn {
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgba(109, 152, 149, 0);
    font-size: 30px;
    font-family:  "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
    color: rgb(16, 1, 1);
    min-width: 100px;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #2fb412;
}
.btn:hover {
    background:tomato;
    border-color: red;
}
.display {
    position: absolute;
    width: 300px;
    background-color: rgba(121, 121, 173, 0);
    top: 20px;
    left: 150px;
    font-size: 20px;
    border-radius: 30px;
}
#scoreLate {
    text-align: center;
    font-size: 50px;
    color: #0c32c7;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #eeeaea, 7px 7px 0px rgba(182, 41, 41, 0.94);
    height: 100px;
    padding-top: 0px;
}